<h1>Liste des Auteurs</h1>
<form method="get" action="{{ path('author_list') }}" style="display: flex; align-items: center; gap: 10px;">
    <label for="minnumber">Min Number:</label>
    <input type="number" id="minnumber" name="minNumber" >

    <label for="maxNumber">Max Number:</label>
    <input type="number" id="maxNumber" name="maxNumber" >

    <button type="submit">Search</button>
</form>
<table style="border: 1px solid black; border-collapse: collapse;">
    <thead>
    <tr>
        <th style="border: 1px solid black;">Username</th>
        <th style="border: 1px solid black;">Email</th>
        <th style="border: 1px solid black;">number of books</th>
        <th style="border: 1px solid black;">Actions</th>
    </tr>
    </thead>

    {% for author in authors %}
        <tr>
            <td style="border: 1px solid black;">{{ author.username }}</td>
            <td style="border: 1px solid black;">{{ author.email }}</td>
            <td style="border: 1px solid black;">{{ author.nbBooks }}</td>
            <td style="border: 1px solid black;">
                <a href="{{ path('author_edit', {id: author.id}) }}">Edit</a>
                <form method="post" action="{{ path('author_delete', {id: author.id}) }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>